<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./partials/nav.ejs') %>

<div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda dolor eaque, eligendi excepturi necessitatibus provident quia quidem quos sed.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consectetur ducimus expedita impedit ipsum nihil numquam pariatur quo quod voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque dolore facere fugiat labore laborum neque numquam repellat suscipit vero voluptate!</p>
</div>

<%- include('./partials/footer.ejs') %>
</body>
</html>
